/* section -->      Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
/* endsection -->   Imports */


/* section -->      Globals */
* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: normal; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 0;
}

.roboto-body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


body {
    background-color: #2f2e2b;
    color: #f3f3f3;
    height: 100vh;
    width: 100vw;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3rem;
    align-items: center;
    padding: 0;
    margin: 0;
    color:#FF3131
}

p{
    padding: 0.5rem;
}

.warning{
    color: #F59E0B;
}
/* endsection -->   Globals */

/* section      -->*/
.engine_condition{
    font-size: large;
}
/* endsection   -->*/

/* section      -->*/
nav{
    height: 3rem;
    width: 100%;
    position: relative;
    border-bottom: #FF3131 solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .25rem;
    padding-left: 0.5rem;
    box-shadow: #c90202 0 0rem .5rem .5rem;
}

nav .logo{
    font-size: 2.5rem;
    color: #FF3131;
    font-weight: 900;
}
/* endsection   -->*/
/* section      --> Forms*/
form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: black solid 1px;
    border-radius: .5rem;
    box-shadow: #c90202 0 0.5rem .5rem .5rem;
    color:black;
    background-color: #FF3131;
}

.form_in_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    width: 85%;
}

label {
    font-weight: 700;
    width: 55%;
    text-align: left;
}

input{
    width: 50%;
    background-color: #2f2e2b;
    color:#FF3131
}

form button{
    width: 8rem;
    height: 3rem;
    cursor: pointer;
    font-weight: bold;
    background-color: #2f2e2b;
    color: #FF3131;
    border: #FF3131 3px solid;
    border-radius: 3rem;
}

form button:hover{
    color: #2f2e2b;
    background-color: #F59E0B;
    border: darkgray 1px solid;
    transition: all 0.5s ease-in-out;
    box-shadow: #f59f0b93 0 .1rem .3rem .3rem;
}

/* endsection   --> Forms*/
