<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engine Condition Predictor 2</title>
    <link rel="stylesheet" type = "text/css" href="/static/css/style.css">
</head>
<body>
    <nav>
        <span class="logo"> Engine Health Predictor </span>
    </nav>
    <br><br><br>
                <p>
                   Monitor your engine's condition in real time. Get instant predictions on performance health and catch issues early, before they become costly repairs.<br>
                <p/>

                <span class="warning"><b>Enter the following sensor data</b></span>
                <form class="features_form" id="features_form">
                    <div class="form_in_div">
                        <label for="engine_rpm">Engine RPM</label>
                        <input type="text" name="engine_rpm" id="engine_rpm">
                    </div>

                    <div class="form_in_div">
                        <label for="lub_oil_pressure">Lubricating Oil Pressure</label>
                        <input type="text" name="lub_oil_pressure" id="lub_oil_pressure">
                    </div>

                    <div class="form_in_div">
                        <label for="fuel_pressure">Fuel Pressure</label>
                        <input type="text" name="fuel_pressure" id="fuel_pressure">
                    </div>

                    <div class="form_in_div">
                        <label for="coolant_pressure">Coolant Pressure</label>
                        <input type="text" name="coolant_pressure" id="coolant_pressure">
                    </div>

                    <div class="form_in_div">
                        <label for="lub_oil_temp">Lubricating oil temperature</label>
                        <input type="text" name="lub_oil_temp" id="lub_oil_temp">
                    </div>

                    <div class="form_in_div">
                        <label for="coolant_temp">Coolant temperature</label>
                        <input type="text" name="coolant_temp" id="coolant_temp">
                    </div>

                    <div class="form_in_div">
                        <label for="engine_condition">Engine Condition</label>
                        <p class="engine_condition" id="engine_condition"></p>
                    </div>
                    <button type="submit" class="predict_btn" id="predict_btn">PREDICT</button>
                </form>
    <!-- Javascript -->
    <script src="/static/js/main.js"></script>
</body>
</html>